<nav style="background-color: darkgray;" class="navbar navbar-expand-lg  pl-3 pr-3 mb-4">
    <a style="color: black;" class="navbar-brand ml-md-3" href="{% url 'home' %}">NeighbourHood</a>
    <button style="color: black;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span><i class="far fa-bars hambars"></i></span>
    </button>
  
    <div style="color: black;" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto text-center">
        {% if user.is_authenticated %}
        <li class="nav-item active"><a class="nav-link" data-toggle="tooltip" data-placement="right" title="Home" href="{% url 'home' %}"><i class="fad fa-home"></i></a></li>
        <li style="color: black;" class="nav-item active"><a class="nav-link" data-toggle="tooltip" data-placement="right" title="Profile" href="{% url 'uprofile' %}">{{user}}</a></li>
        <li style="color: black;" class="nav-item active"><a class="nav-link" data-toggle="tooltip" data-placement="right" title="Log Out" href="{% url 'logout' %}"><i class="fad fa-sign-out-alt"></i></a></li>
        {% else %}
        <li class="nav-item active"><a class="nav-link" href="/accounts/login">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>